@use '../abstracts/breakpoints' as bp;
@use '../abstracts/placeholders';

*:not(i) {
  font-family: 'Pretendard' !important;
}
.about p,
.about details,
.about li {
  font-size: 16px;
}

summary {
  font-size: 16px;
}

.about .dynamic-title {
  display: none;
}

hr {
  margin: 2rem 0 !important;
  margin-bottom: 0px !important;
}

.info {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #757575;
  font-size: 16px;
}

.line {
  margin-bottom: 20px !important;
}

.about h1 {
  font-size: 32px !important;
  font-weight: 700;
}

.about h2 {
  margin-top: 0px !important;
  font-weight: 600;
  font-size: 24px !important;
  background: none !important;
  background: none;
  &.tech-title,
  &.portpolio,
  &.core-competency {
    background: none;
    margin-top: 32px !important;
  }
  &.portpolio {
    margin-top: 20px !important;
  }
  &.title {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

ul.tech-list {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  flex-wrap: wrap;
  li {
    border-radius: 5px;
    border: 1px solid var(--main-border-color);
    padding: 5px;
  }
}

section.experience,
section.project,
section.other-experience {
  display: flex;
  gap: 20px;
  h2 {
    font-size: 18px;
    margin-top: 0 !important;
    background: none;
  }
  article {
    width: 100%;
    h3 {
      margin: 0 !important;
      font-weight: 600;
    }
    div.content {
      padding: 0px;
      margin: 0;
      padding-top: 20px;
    }
  }
  article.title {
    width: 120px;
    padding-top: 20px;
  }
}

h5 {
  font-weight: 700;
}

h3 {
  font-size: 20px;
}

div.stack {
}
.ex-line {
  margin: 0 5px;
}

.about #panel-wrapper {
  display: none;
}

.about {
  width: 100% !important;
}

@media print {
  .page-break {
    break-before: page; /* 최신 브라우저 */
    page-break-before: always; /* 구형 브라우저 */
  }
}

span.period {
  font-size: 14px;
  color: #757575;
}
.ex-info {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

@media print {
  code.highlighter-rouge {
    font-size: 0.85rem;
    padding: 3px 5px;
    word-break: break-word;
    border-radius: 6px;
    background-color: rgba(25, 25, 28, 0.05);
  }
  .highlighter-rouge {
    color: #3f596f !important;
    margin-top: 0.5rem;
    margin-bottom: 1.2em;
  }
}

.about-main {
  width: 100%;
}

.about-main .dynamic-title {
  display: none;
}
